.context-con {
  margin-top: 100px;
  padding: 20px;
  h2 {
    font-size: 45px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  p {
    font-size: 32px;
    margin-bottom: 20px;
    text-indent: 40px;
    a{
      color:#ff6655;
    }
  }
}